@import url(variable.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom,  #91B5FD, #F0DDFF);
    height: 844px; /* Asegura que el fondo cubra toda la pantalla */
    margin: 0; /* Evita márgenes que puedan afectar el fondo */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.div__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arrow {
    margin: 35px 0 0 22px;
    z-index: 2;
    width: 28px;
    height: 34px;
    background-color: transparent;
/*     box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.9);
 */    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(255, 254, 254, 0.2); 
/*      filter: blur(10px); 
 */    border-radius: 6px;
}
.options {
    margin: 35px 25px 0 0;
    z-index: 3;
    width: 28px;
    height: 34px;
    background-color: transparent;
/*     box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.9);
 */    justify-content: center;
    align-items: center;
    display: flex;
/*     background-color: rgba(255, 254, 254, 0.2); 
 *//*      filter: blur(10px); 
 */    border-radius: 6px;
}
.options a img{
    width: 16px;
    height: 4px;
}

.arrow a{
}
.arrow a img{
    width: 3px;
    height: 8px;
}
.section__ticket {
    
}
.section__ticket img{
    width: 343px;
    height: 596px;
    z-index: -1;
    margin: 115px 26.2px 113px 23.4px;

}
.article__ticket {
    display: flex;
    flex-direction: column;
    margin-left: 18.15px;
    margin-right: 18.15px;
}
.div__ticket-title {
}
.div__ticket-title img{
    width: 308px;
    height: 159px;
}
.div__ticket-title h2{
}
.div__ticket-title span{
}
.div__ticket-information {
}
.div__ticket-information-text {
}
.text__information {
}
.text__information h3{
}
.text__information span{
}
.div__code {
}
.div__code img{
}
.div__code span{
}