@import url(variable.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    position: absolute;
    z-index: -1 ;
    width: 100%;
}
.background img{
    width: 100%;
}
.nav {
    display: flex;
    flex-direction: column;
}
.header__nav {
/*     background-color: red;
 */    display: flex;
    justify-content: space-between;
    margin: 45px 18px 0 18px;
    align-items: center;
}
.header__nav a{
}
.header__nav a img{
    width: 32px;
}
.nav__div {
    margin:20px 18px 0 20px;

/*     background-color: green;
 */}
.nav__div h1{   
    font-size: 30px;
    width: 285px;
    color: var(--color-1);
    height: 72px;
    color: var(--color-2);
    font-family: "inter-bold";
}
.nav__div span{
    color: var(--color-3);
}
.search__div {
/*     background-color: yellow;
 */    display: flex;
    justify-content: space-between;
    align-items: center;
/*     width: 100%;
 */
    height: 41px;
    background-color: #fffdfd ;
    border-radius: 10px;
    margin-top: 20px;
}
.search__div img{
    width: 21px;
    height: 21px;
    margin-left: 12px;
    margin-right: 12px;
}
.search__div textarea{
    justify-content: center;
    align-content: center;
    position: relative;
    border: none;
    outline: none;
    left: -50px;
    text-decoration: none;
    font-family: "inter-regular";
    color: var(--color-2);
}
.search__div ::placeholder{
    color: var(--color-2);
}
.search__div a{
}
.scroll{
/*     width:600px;

     */
     width: 370px;
     overflow-x: scroll;

}
.shortcouts__nav {
/*     background-color: blue;
 */    width: 550px;

    display: flex;
    justify-content: space-between;
    gap: 12px;

}
.shortcouts__div {
    background-color: var(--color-4);
    width: 112px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 16px;
}
.shortcouts__div a{
    text-decoration: none;
    color: black;
    font-family: "inter-regular";
    font-weight: 1000;

}
.shortcouts__div h4{
    font-size: 12px;
}
.shortcouts__div-2 {
    background-color: var(--color-5);
    width: 112px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 16px;
}
.shortcouts__div-2 a{
    text-decoration: none;
    color: black;
    font-family: "inter-regular";
    font-weight: 1000;

}
.shortcouts__div-2 h4{
    font-size: 12px;
}
.shortcouts__div-3 {
    background-color: var(--color-6);
    width: 112px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 16px;
}
.shortcouts__div-3 a{
    text-decoration: none;
    color: black;
    font-family: "inter-regular";
    font-weight: 1000;

}
.shortcouts__div-3 h4{
    font-size: 12px;
}
.shortcouts__div-4 {
    background-color: #EDE9FF;
    width: 112px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 16px;
}
.shortcouts__div-4 a{
    text-decoration: none;
    color: black;
    font-family: "inter-regular";
    font-weight: 1000;

}
.shortcouts__div-4 h4{
    font-size: 12px;
}

.shortcouts__div-5 {
    background-color: #EDE9FF;
    width: 112px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 16px;
}
.shortcouts__div-5 a{
    text-decoration: none;
    color: black;
    font-family: "inter-regular";
    font-weight: 1000;

}
.shortcouts__div-5 h4{
    font-size: 12px;
}
.title__div{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}
.title__div h2{
    font-family: "inter-semibold";
    font-size: 14px;
}
.title__div a{
    text-decoration: none;
    color: #333333;
    font-family: "inter-regular";
    font-size: 12px;
}
.scroll__image {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin: 16px 0 0 20px;
    overflow-x: scroll;
/*     background-color: red;
 */}
.scroll__image-article {
/*     background-color: blue;
 */
    height: 210px;
}
.scroll__image-article a{
}
.scroll__image-article a img{
    width: 346px;
    height: 186px;

}
.scroll__image-div {
    /*     background-color: green;
 */    position: relative;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: px;
    width: 332px;
    align-items: center;
    height: 90px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(60px);  
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 7px;
    top: -110px;
}
.scroll__text-div{
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 16.5px;
    margin: 16.5px 0 16.5px 7px;
}
.scroll__text-div h3{
    font-size: 12px;
    font-family: "inter-semibold";
    color: white;
}
.scroll__text-div h4{
    position: relative;
    font-family: "inter-regular";
    font-size: 12px;
    left: 8px;
    color: white;
}
.scroll__text-div h4 img{
    width: 10px;
    position: relative;
    left: -8px;
    height: 10px;
}
.price__div {
/*     background-color: violet;
 */    position: relative;
    left: -10px;
}
.price__div span{
    font-size: 10px;
    color: white;
    font-family: "inter-regular";
}
.price__div h2{
    font-size: 20px;
    color: white;
    font-family: "inter-semibold";
}

.section__events {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.title__event {
    display: flex;
    justify-content: space-between;
    
}
.title__event h2{
}
.title__event a{
    text-decoration: none;
    color: #333333;
}
.section__events{
    display: flex;
     
}
.scroll__div-events{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.article__events {
    margin-top: 16px;
    flex-direction: row;
}
.div__events{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    gap: 2px;
    width: 166px;
    height: 203px;
}
.div__events img{
    width: 150px;   
    height: 102px;
    margin: 8px 8px 0 8px;
}
.div__events h4{
    margin: 6px 8px 0 8px;
    font-size: 10px;

}
.div__events span{
    font-size: 10px;
    margin-top: -5px;
}
.div__events span img{
    width: 10px;
    height: 10px;
}